[submodule "llvm"]
	path = llvm
	url = https://github.com/TheHitsy/llvm-project
[submodule "skepu-headers"]
	path = skepu-headers
	url = https://github.com/TheHitsy/skepu-headers
[submodule "vscode-clangd"]
	path = vscode-clangd
	url = https://github.com/TheHitsy/vscode-clangd
